<div ng-controller="homeCtrl">
        <div class="col-md-6">

            <div>
                <ul class="courseListClass">
                    <li ng-repeat="course in allCourses | filter:searchText" 
			class="thumbnail course-listing">
                    <a href="#/detailedView/{{course._id}}">
                        {{course.courseName}}
			
                    </a>
                    <p>
                        {{course.description}}
                    </p>
                    </li>
                </ul>
            </div>
        </div>

</div>

